/.iasx
/.mixin.out
/asm
/assets
/astralsorcery
/BotaniaVars.dat
/cachedImages
/caches
/Code
/crafttweaker.log
/crash-reports
/CustomSkinLoader
/journeymap/data
/journeymap/icon
/journeymap/server
/journeymap/colorpalette.json
/journeymap/journeymap.log
/launcher_profiles.json
/libraries
/local
/logs
/NVIDIA
/opframe_cache
/PCL.ini
/saves
/screenshots
/usercache.json
/usernamecache.json
/versions
/servers.dat
/tv-cache
/fancymenu_setups
/config/jei/worldSettings.cfg
/config/jei/bookmarks.ini
/scripts/.zsrc
/.vscode
/stall-reports
/BiomeDump.txt
/mods/fancymenu
/mods/memory_repo
/mods/probe-0.1.24.jar
/mods/Caliper-1.12.2-1.1.46.jar
/hei_bookmarks.ini
/optionsshaders.txt
/patchouli_books
/touhou-little-maid-server-pack
/structurize
/armourers_workshop
/ExtraBotanyVars.dat
/fancymenu_data
/fixResource
/config/AppliedEnergistics2/items.csv
